<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Açıklama</td>
            <td>Durum</td>
            <td><button class="btn btn-success">Güncelle</button></td>
            <td><button class="btn btn-danger">Sil</button></td>
        </tr>
    </table>

    <button class="btn btn-primary">Yeni Kategori</button>
</body>
</html>