@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <th>@c.CategoryId</th>
            <th>@c.CategoryName</th>
            <th>@c.CategoryDescription</th>
            <th>@c.CategoryStatus</th>
        </tr>
    }
</table>